@import "tailwindcss";


@font-face {
  font-family: 'FaroSad';
  src: url('./assets/fonts/Faro-BoldSad.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FaroSad';
  src: url('./assets/fonts/Faro-SemiBoldSad.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FaroSad';
  src: url('./assets/fonts/Faro-RegularSad.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FaroLucky';
  src: url('./assets/fonts/Faro-RegularLucky.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}



 @theme{
  /* Primary Brand Colors */
  --color-brand-primary: #27AE60;
  --color-brand-dark: #007D58;
  --color-brand-darker: #004A3D;
  --color-brand-light: #6FCF97;
  --color-brand-lighter: #52DCBD;
  --color-brand-surface: #F6FFFC;

  /* Secondary Colors */
  --color-secondary-dark: #00A87D;
  --color-secondary-medium: #009570;
  --color-secondary-medium-dark: #00654F;

  /* Accent Colors */
  --color-accent-yellow: #F7EA82;
  --color-accent-success: #75B709;
  --color-accent-error: #EF533D;
  --color-accent-danger: #CC2229;
  --color-accent-warning: #FF3E00;

  /* Text Colors */
  --color-text-default: #1E1E1E;
  --color-text-secondary: #525252;
  --color-text-tertiary: #696969;
  --color-text-muted: #676767;

  /* Background Colors */
  --color-bg-white: #FFFFFF;
  --color-bg-light: #F5F5F5;
  --color-bg-lighter: #F2F2F2;
  --color-bg-muted: #EFEEF3;
  --color-bg-subtle: #EBEAE6;
  --color-bg-dark: #1E1E1E;
  --color-bg-darker: #272729;
  --color-bg-overlay: #000000;
  --color-bg-overlay-light: #FFFFFF1F;

  /* Border Colors */
  --color-border-light: #C2C2C2;
  --color-border-medium: #D9D9D9;
  --color-border-dark: #64646433;
  --color-border-subtle: #4A4A55;
}




.font-faroSad {
  font-family: 'FaroSad', sans-serif;
}

.font-faroLucky {
  font-family: 'FaroLucky', sans-serif;
}

.text-brand-primary {
  color: var(--color-brand-primary);
}
.text-brand-dark {
  color: var(--color-brand-dark);
}
.text-brand-darker {
  color: var(--color-brand-darker);
}

.bg-brand-primary {
  background-color: var(--color-brand-primary);
}
.bg-brand-surface {
  background-color: var(--color-brand-surface);
}

